Application.main
{
	backgroundGradientAlphas: 1.0, 1.0;
	backgroundGradientColors: #FFFFFF, #FFFFFF;
	color: #FFFFFF;
	fontAntiAliasType: advanced;
	fontFamily: Verdana;
	fontSize: 10;
	fontStyle: normal;
	fontWeight: normal;
	horizontalAlign: center;
	horizontalGap: 20;
	letterSpacing: 1;
	textAlign: center;
	verticalAlign: top;
	verticalGap: 20;
	padding-bottom: 0;
	padding-top: 0;
	horizontal-scroll-bar-style-name: scrollBarStyle;
	vertical-scroll-bar-style-name: scrollBarStyle;
}

.header {

}


.body {
	right: 80;
	left: 80;
	top: 110;
	bottom: 80;
}

PositionedTabNavigator
{
	borderColor: #3274D0;
	borderStyle: solid;
	borderThickness: 4;
	color: #FFFFFF;
	cornerRadius: 10;
	fontFamily: Verdana;
	fontSize: 14;
	fontWeight: bold;
	paddingTop: 0;
	tabOffset: 60;
	tabPosition: leftTop;
	textAlign: left;
	themeColor: #3274D0;
}

FormItem {
	verticalGap: 0;
}	

.scrollBarStyle {
	upArrowSkin: ClassReference(null);
	downArrowSkin: ClassReference(null);
	cornerRadius: 10;
	borderColor: #C6C8C3;
	fillColors: #013e7d, #013e7d;
	fillAlphas: 1.0,1.0;
	trackColors: #c6c8c3, #c6c8c3;
}

