.profileDetailsControlBarButtonStyle {
	upSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    overSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    downSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
	selectedDownSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    selectedUpSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    selectedOverSkin:ClassReference('skins.ProfileDetailsControlBarSkin');
    color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	fontFamily: Verdana;
	fontWeight: bold; 
	fontSize: 16;
	padding-left: 30;
	padding-right: 30;
}

.profileDetailsControlBarStyle {
	buttonStyleName: profileDetailsControlBarButtonStyle;
}

.formItemLabelStyle
{
	color: #303030;
	fontFamily: Verdana;
	fontSize: 16;
	fontWeight: bold;
	letterSpacing: 0;
}

.formItemTextInputStyle
{
	color: #1259C7;
	fontFamily: Verdana;
	fontSize: 14;
	fontWeight: bold;
	borderStyle: solid;
	borderThickness: 2;
	borderColor: #C6C8C3;
	backgroundAlpha: 1.0;
	corner-radius: 2;
	paddingLeft: 5;
	paddingRight: 5;
}


.formItemTextStyle
{
	color: #1259C7;
	fontFamily: Verdana;
	fontSize: 14;
	fontWeight: bold;
}

.formItemGreenTextStyle
{
	color: #5a9119;
	fontFamily: Verdana;
	fontSize: 12;
	fontWeight: bold;
}

.formStyle
{
	borderColor: #FFFFFF;
	color: #303030;
	paddingLeft: 0;
	themeColor: #FFFFFF;
	verticalGap: 20;
}


.transparentDataGridStyle
{
	backgroundAlpha: 0.0;
	borderStyle: none;
	color: #1259C7;
	focusAlpha: 0;
	fontSize: 14;
	textAlign: left;
	textRollOverColor: #1259C7;
	textSelectedColor: #1259C7;
	verticalGridLines: false;
}

.comboBoxStyle 
{
		
}
