.main
{
	backgroundColor: #3274D0;
}

.logo
{
	fontFamily: TempusSansITC;
	fontSize: 36;
}

.mainHeaderButtonStyle {
	upSkin:ClassReference('skins.MainHeaderButtonSkin');
    overSkin:ClassReference('skins.MainHeaderButtonSkin');
    downSkin:ClassReference('skins.MainHeaderButtonSkin');
    disabledSkin:ClassReference('skins.MainHeaderButtonSkin');
    fillColors: #013e7d, #FFFFFF;
    cornerRadius: 10;
    borderThickness: 2;
    borderColor: #013e7d;
    color: #FFFFFF;
	textRollOverColor: #013E7D;
	textSelectedColor: #FFFFFF;
	disabledColor: #FFFFFF;
	fontFamily: Verdana;
	fontWeight: bold;
}

.headerButtonBarStyle
{
	buttonStyleName: mainHeaderButtonStyle;
	horizontalGap: 10;
}

.queryBoxStyle
{
	backgroundAlpha: 1.0;
	backgroundColor: #FFFFFF;
	borderColor: #013E7D;
	borderStyle: solid;
	borderThickness: 2;
	color: #013E7D;
	cornerRadius: 9;
	fontFamily: Verdana;
	fontSize: 10;
	fontStyle: italic;
	fontWeight: normal;
	textAlign: left;
	themeColor: #013E7D;
	focusThickness: 0;
}

.searchCriteriaRadioButtonStyle
{
	borderColor: #FFFFFF;
	color: #FFFFFF;
	cornerRadius: 10;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	themeColor: #013E7D;
}
