.searchCriteria {
	paddingRight: 10; 
	themeColor: #0B87D5;
	alpha: 0.9;
	borderColor: #0B87D5;
	fillAlphas: 0.4, 1.0, 0.12, 0.12;
	fillColors: #FFFFFF, #BBBCBC, #0B87D5, #0B87D5;
	color: #0B87D5;
	textRollOverColor: #0B87D5;
	textSelectedColor: #0B87D5;
	fontWeight: bold;
	
}

.query {
	paddingLeft: 10;
	paddingRight: 20;
	borderStyle: solid;
	editable: true;
	maxChars: 255;
	themeColor: #0B87D5;
	borderThickness: 1;
	borderColor: #0B87D5;
	cornerRadius: 5;
	backgroundColor: #EFEFEF;
	color: #0B87D5;
	fontWeight: bold; 
}

.hboxPadding {
	paddingLeft: 10;
}

.searchButton {
	themeColor: #0B87D5;
	alpha: 0.9;
	borderColor: #0B87D5;
	fontWeight: bold;
	fillAlphas: 0.4, 1.0, 0.12, 0.12;
	fillColors: #FFFFFF, #BBBCBC, #0B87D5, #0B87D5;
	cornerRadius: 5;
	color: #0B87D5;
	textRollOverColor: #0B87D5;
	textSelectedColor: #0B87D5;
}